# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# Temporary files, for example, from tests.
/tmp/
*.log

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
monc-*.tar

*.env
*.env.*
!*.example
config.yaml
config.local.yaml

.DS_Store
.AppleDouble
.LSOverride

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?